.btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

#login > .badge-wrapper > .d-flex {
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    background-color: #efeef3;
}

#login > .badge-wrapper > .d-flex > ion-icon {
    min-width: 1.2rem;
    min-height: 1.2rem;
    background-color: #efeef3;
    color: #7c7c7c;
}

#login > .badge-wrapper:first-child > .badge {
    top: -0.2rem;
    background-color: #7550fe;
}

.badge-wrapper {
    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    z-index: 0;
}

#login > .badge-wrapper > button {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative !important;
}

#login > .badge-wrapper > button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.badge-wrapper .badge {
    all: unset;
    position: absolute !important;
    bottom: -0.2rem; 
    right: -0.2rem; 
    width: 0.8rem;
    height: 0.8rem;
    background-color: #28a745;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 10;
    display: block !important;
}

#jumbotron {
    background-color: #7550fe;
    color: white;
    
}

#jumbotron > .container-xxl > .row > div:first-of-type {
    padding-top: 5rem;
    padding-right: 0.8;
    padding-left: 0.8;
}

#jumbotron > .container-xxl > .row > div:last-of-type {
    padding-left: 0;
}

#jumbotron > .container-xxl > .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#jumbotron > .container-xxl > .row > .col-12 > button {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 1rem;
}

#jumbotron > .container-xxl > .row > .col-12 > button:first-of-type {
    background-color: #1acb98;
    font-weight: bold;
    margin-top: 1.5rem;
}

#jumbotron > .container-xxl > .row > .col-12 > button:last-of-type {
    background-color: white;
    font-weight: bold;
    margin-top: 1.5rem;
    color: black;
}

#statistics {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.067);
}

#statistics > .container-xxl > .row > .col-12 {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

#statistics > .container-xxl > .row > .col-12 > .icons {
    justify-content: center;
    align-items: center;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 50%;
    background-color: #ffeeda;
}

#statistics > .container-xxl > .row > .col-12 > .icons > ion-icon {
    color: #c28135; 
}

#statistics > .container-xxl > .row > .col-12 > .icons-text > p {
    margin-bottom: 0;
}

#mega-container {
    background-color: #f5f4f8;
}

#recommended > .row:first-child {
    padding-top: 8rem;
}

.card {
    transition: .4s;
}

.card:hover {
    transform: scale(110%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
    z-index: 10;
}

.card-header {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-body > .d-flex:first-of-type > ion-icon:last-of-type {
    color: #7550fe;
}

.card-body > .d-flex:nth-child(4) {
    border-bottom: 1px solid #f5f4f8;
}

.card-body > .d-flex:last-of-type > .d-flex > img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 50%;
}

.card-body > .d-flex:last-of-type > .d-flex:last-of-type {
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
}

.carousel-control-prev, .carousel-control-next {
    max-width: 2rem;
    max-height: 2rem;
    top: 45%;
    border-radius: 50%;
    background-color: rgb(40, 40, 40);
}

.carousel-control-prev {
    left: -4%
}

.carousel-control-next {
    right: -4%
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    max-width: 0.8rem;
    max-height: 0.8rem;
}

.bookmark > svg >path:last-child {
    opacity: 0;
    transition: opacity .4s ease;
}

.bookmark > svg > path:last-child:hover  {
    opacity: 1;
    cursor: pointer;
}



